<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Анализ риска инсульта</title>
        <link rel="stylesheet" href="/static/web/css/web.css">
    </head>
    <body>
        <header>
            <h1>
                <span>SPM</span><br>
                <span>Сервис анализа риска инсульта</span>
            </h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'web:profile' %}">Профиль</a></li>
                        <li><a href="#">Выход</a></li>
                    {% else %}
                        <li><a href="{% url 'web:login' %}">Вход</a></li>
                        <li><a href="{% url 'web:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>2025 Москва, Сбер 21</p>
        </footer>
    </body>
</html>