{% extends "base.html" %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Регистрация</h2>
        <form method="post" style="margin-top: 30px; display: flex; flex-direction: column; gap: 20px;">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.name == "username" %}
                        <label for="{{ field.id_for_label }}">Логин</label>
                    {% else %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="custom-btn" style="align-self: center; width: 70%;">Зарегистрироваться</button>
        </form>
        <div class="auth-footer">
            <p>Уже есть аккаунт? <a href="{% url 'web:login' %}">Войти</a></p>
        </div>
    </div>
</div>
{% endblock %}


